.profile__avatar-container {
  position: relative;
  display: flex;
}

.profile__avatar-container:hover .profile__avatar-edit {
  display: block;
  cursor: pointer;
}

.profile__avatar-container:hover .profile__avatar {
  opacity: 0.4;
}
